@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-1 home-link pt-page-current">
        <div class="container">           
            <h1><span>Phil Gillespie</span><strong>Web</strong>Developer</h1>
            <div class="cube">
                <div class="cube-side-one"></div>
                <div class="cube-side-two"></div>
                <div class="cube-side-three"></div>
                <div class="cube-side-four"></div>
            </div>
        </div>
    </div>
    <div class="pt-page pt-page-2 about-link">
        <h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
    </div>
    <div class="pt-page pt-page-3 services-link">    
        @Html.Action("RenderServices", "contact")
    </div>
    <div class="pt-page pt-page-4 contact-link">
        @Html.Action("RenderForm", "Contact")
    </div>
</div>
