@{
    Layout = null;
}

<h1 class="main-headline"><span>What I can Provide</span></h1>
<div class="container services-container">
    <div class="row" id="services">
        <div class="col-sm-3 services">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>HTML5 markup</h3>
                </div>
                <div class="services-img">
                    <img class="image img-circle" alt="HTML5" src="~/media/1002/html5-2.png" />
                </div>
                <p>lumbersexual leggings post-ironic. Flannel brooklyn tilde, retro butcher XOXO blue bottle migas slow-carb. Single-origin coffee YOLO mixtape, celiac cold-</p>
            </div>
        </div>
        <div class="col-sm-3 services">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Styled with CSS3</h3>
                </div>
                <div class="services-img">
                    <img class="image img-circle" alt="CSS3" src="~/media/1003/css3.png" />
                </div>
                <p>Art party freegan migas, ugh paleo try-hard brooklyn wolf hoodie distillery. Retro banjo post-ironic gastropub, iPhone microdosing tofu street art yr chillwave offal raw denim pickled brunch PBR&B. Semiotics irony direct trade </p>
            </div>
        </div>
        <div class="col-sm-3 services">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Bootstrap Framework</h3>
                </div>
                <div class="services-img">
                    <img class="image img-circle" alt="bootstrap" src="~/media/1004/bootstrap.png" />
                </div>
                <p>pickled you probably haven't heard of them hoodie raw denim hashtag drinking vinegar tilde gentrify. Austin listicle man bun yuccie four loko, taxidermy banjo. Chicharrones lomo meh scenester hammock biodiesel organi</p>
            </div>
        </div> 
        <div class="col-sm-3 services">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Umbraco CMS</h3>
                </div>
                <div class="services-img">
                    <img class="image img-circle" alt="CSS3" src="~/media/1003/css3.png" />
                </div>
                <p>Art party freegan migas, ugh paleo try-hard brooklyn wolf hoodie distillery. Retro banjo post-ironic gastropub, iPhone microdosing tofu street art yr chillwave offal raw denim pickled brunch PBR&B. Semiotics irony direct trade </p>
            </div>
        </div>
    </div>
         
</div>
