@{
    Layout = null;
}

<h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
<div class="container services-container">
    <div class="services-row row">
        <div class="well col-sm-4">
            <div class="well-services services-html5">
                <div class="html5-img">
                    <img class="image img-circle" alt="HTML5" height="100%" width="100%" src="~/media/1002/html5-2.png" />
                </div>
                Test
            </div>
        </div>
        <div class="well col-sm-4">
            <div class="well-services services-ccs3">
                test2
            </div>
        </div>
        <div class="well col-sm-4">
            <div class="well-services services-bootstrap">
                test3
            </div>
        </div>
    </div>
</div>
